.filters-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .filters-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0.75rem;

    .filter-item {
      flex: 1 1 180px;
      min-width: 160px;
    }

  }
  
  .filter-actions {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    margin-bottom: 0.2rem;
  }
}
